#app {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & > header {
        height: 15vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    & > main {
        display: flex;
        width: 95%;
        gap: 16px;
        flex-direction: column;
        min-height: 80vh;
    }

    & > footer {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.1rem;
        height: 5vh;
    }
}

#footer-text {
    color: white;

    & > a:hover {
        text-decoration: underline;
    }
}

#streams-loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    & > img {
        width: 180px;
        height: 180px;
        animation: rotate 1s linear infinite;
    }

    & > span {
        color: white;
        font-size: 2rem;
        font-weight: bold;
    }
}

#no-streams-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & > img {
        width: 180px;
        height: 180px;
    }

    & > span {
        color: white;
        font-size: 2rem;
        font-weight: bold;
    }
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}