#app {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#footer-text {
    color: white;

    & > a:hover {
        text-decoration: underline;
    }
}