.stream-container {
    width: 322px;
    height: 360px;
    background: var(--overlay);
    border-radius: 12px;
    overflow: hidden;
    box-shadow: var(--drop-shadow);
}

.stream-container-top {
    height: 180px;
}

.stream-thumbnail {
    width: 100%;
    height: 100%;
}

.stream-tags {
    display: flex;
    gap: 5px;
    overflow-x: scroll;
}

.stream-tag {
    flex-shrink: 0;
    background: var(--overlay-1);
}

.stream-container-bottom {
    display: flex;
    flex-direction: column;
}

.stream-container-twitch-info {
    display: flex;
    flex-direction: column;
}

.stream-container-url:hover {
    text-decoration: underline;
}

.stream-iframe {
    width: 100%;
    height: 100%;
    border: none;
}