.stream-container-wrapper {
    position: relative;
    border-radius: 12px;
    width: 322px;
    overflow: hidden;

    &::after {
        content: "";
        height: 10px;
        position: absolute;
        bottom: 0;
        width: 100%;
        background: linear-gradient(to bottom, transparent, var(--overlay));
    }
}

.stream-container {
    max-height: 360px;
    background: var(--overlay);
    overflow-y: scroll;
    box-shadow: var(--drop-shadow);
    scrollbar-width: none;
}

.stream-container-top {
    height: 180px;
}

.stream-thumbnail {
    width: 100%;
    height: 100%;
}

.stream-tags-container {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.stream-tags {
    position: relative;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    /* overflow-x: scroll;
    scrollbar-width: none;
    &:hover {
        scrollbar-width: thin;
    } */
}

.stream-tag {
    padding: 3px 10px;
    flex-shrink: 0;
    background: var(--overlay-1);
    color: var(--light-gray);
    border-radius: 5px;
    font-weight: normal;
    font-size: 14px;
}

.stream-container-bottom {
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 18px;
    font-weight: 450;

    & .divider {
        margin: 5px 0;
    }
}

.stream-container-basic-info {
    display: flex;
    align-items: center;
    gap: 5px;
}

.stream-container-twitch-info {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.stream-container-url {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.stream-container-url:hover {
    text-decoration: underline;
}

.stream-iframe {
    width: 100%;
    height: 100%;
    border: none;
}