.stream-container-wrapper {
    position: relative;
    border-radius: 12px;
    width: 322px;
    overflow: hidden;
    outline: 2px solid var(--overlay-1);
    transition: .2s ease outline;
    flex: 1 0 auto;
    transition: 1 ease visibility;
    animation: fadeIn 0.2s ease-in;

    &::after {
        content: "";
        height: 10px;
        position: absolute;
        bottom: 0;
        width: 100%;
        background: linear-gradient(to bottom, transparent, var(--overlay));
    }

    &:hover {
        outline: 2px solid var(--overlay-2);
    }
}

.stream-placeholder {
    width: 322px;
    flex: 1 0 auto;
}

.stream-container-top {
    position: relative;
}

.stream-container {
    background: var(--overlay);
    overflow-y: scroll;
    box-shadow: var(--drop-shadow);
    scrollbar-width: none;
}

.stream-thumbnail {
    width: 100%;
    min-height: 100%;
}

.stream-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.stream-tags-container {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.stream-tags {
    position: relative;
    display: flex;
    gap: 5px;
    overflow-x: hidden;
    
    &::after {
        position: absolute;
        content: "";
        height: 100%;
        width: 10px;
        right: 0;
        background: linear-gradient(to right, transparent, var(--overlay));
    }
}

.stream-tag {
    padding: 3px 10px;
    flex-shrink: 0;
    background: var(--overlay-1);
    color: var(--light-gray);
    border-radius: 5px;
    font-weight: normal;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
    height: 26px;
}

.stream-container-bottom {
    display: flex;
    flex-direction: column;
    padding: 5px 10px 10px 10px;
    font-size: 18px;
    font-weight: 450;

    & .divider {
        margin: 5px 0;
    }
}

.stream-container-basic-info {
    display: flex;
    align-items: center;
    gap: 5px;
}

.stream-container-twitch-info {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.stream-container-url {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.stream-container-url:hover {
    text-decoration: underline;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}