#options {
    color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
    
    > div {
        display: flex;
        gap: 10px;
    }
}