@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Inter", system-ui;
}

body {
  background: var(--base);
  min-height: 100vh;

  --base: #0F1411;
  --overlay: #000F10;
  --overlay-1: #081419;
  --overlay-2: #0d1c24;

  --light-gray: #919191;

  --drop-shadow: 2px 2px 5px rgba(0, 0, 0, .3 );
}

.netherite-elo {
    background: linear-gradient(to right, rgb(176, 14, 197), rgb(92, 36, 116));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.diamond-elo {
    background: linear-gradient(to right, rgb(65, 179, 255), rgb(65, 65, 255));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.emerald-elo {
    background: linear-gradient(to right, rgb(71, 255, 65), rgb(60, 151, 32));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.gold-elo {
    background: linear-gradient(to right, rgb(255, 238, 0), rgb(192, 166, 16));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.iron-elo {
    background: linear-gradient(to right, rgb(206, 206, 206), rgb(117, 117, 117));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.coal-elo {
    background: linear-gradient(to right, rgb(41, 41, 41), rgb(29, 29, 29));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.netherite-diamond {
    stroke: #a580c1;
}

.diamond-diamond {
    stroke: #a0d9ff;
}

.emerald-diamond {
    stroke: #a3ffa0;
}

.gold-diamond {
    stroke: #fff7a0;
}

.iron-diamond {
    stroke: #e7e7e7;
}

.coal-diamond {
    stroke: #949494;
}

a {
  color: unset;
  text-decoration: unset;
}

h1 {
    font-size: 4rem;
    color: white;
}

button {
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.divider {
    height: 2px;
    border-radius: 3px;
    width: 100%;
    background: var(--overlay-1);
}